extends common/layout

block main-content
    section#manga-details-section
        div#manga-cover
            h2 #{manga.title}
            img(src=manga.coverImageUrl, alt=manga.title)
        div#manga-details
            p By #{manga.author}
            p Genres: #{manga.genre.join(', ')}
            p #{manga.description}
            p Price: $#{manga.price.toFixed(2)}
            p In Stock: #{manga.stock ? 'Yes' : 'No'}
            div#manga-actions
                a.button(href='/') Add to Cart
                a.button(href='/mangas') Back to Catalog
